.posts-main-div {
	width: 100%;
	min-height: calc(100vh - 160px);
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.posts {
	width: 95%;
	height: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}
.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-right: 28px;
}
.filters {
	width: 100%;
	height: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.all-posts-menu {
	width: 100%;
	min-height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
    justify-content: center;
}
.post {
	width: 100%;
	min-height: fit-content;
	background: #ffffff;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
}
.tags {
	width: 100%;
	min-height: fit-content;
	display: flex;
	flex-direction: row;
}
.filters > div:first-child {
	min-width: 400px;
	height: 100%;
	display: flex;
	flex-direction: row;
}
#post-tags {
    line-height: 30px;
}
#post-tags > button {
    margin-left: 10px;
}
#post-tags-content {
    color: rgba(49, 49, 49, 0.7);
}

.filters > div:first-child > span {
    height: 100%;
	font-size: 20px;
	line-height: 40px;
	color: black;
}
.filters > div:first-child > button {
	height: 100%;
	font-size: 20px;
	line-height: 15px;
	background: #444444;
	border-radius: 10px;
	margin-left: 10px;
	color: white;
	padding: 0 6px 0 6px;
}

.filters > div:first-child {
    height: 100%;
	min-width: fit-content;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.filters > div:first-child > select {
    height: 100%;
	background: #444444;
	border: 1px solid rgba(88, 88, 88, 0.5);
	border-radius: 10px;
    color: white;
}
.filters > div:last-child > select:active {
	outline: none;
}
.filters > div:last-child > button {
	height: 100%;
  	color: white;
	background: #747474;
	border: 1px solid #747474;
	border-radius: 10px;
	margin-left: 10px;
	padding: 0 10px 0 10px;
	font-size: 20px;
	line-height: 20px;
	padding: 5px;
}
.post > div:first-child {
	width: 40px;
	min-height: 100%;
	border-right: 2px solid rgba(226, 226, 226, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    font-size: 20px
}
.post > div:first-child > button {
	fill: rgba(165, 165, 165, 0.5);
	width: 25px;
    margin-bottom: 10px;
}
.post > div:first-child > button > svg {
	transform: matrix(1, 0, 0, -1, 0, 0);
  	margin-top: 10px;
}
.post > div:last-child{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	margin-right: 10px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.post > div:last-child > a{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 10px;
}
.post > div:last-child > a > h1#post-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 16px;
	margin-bottom: 10px;
	color: #000000;
	margin-right: 20px;
}
.post > div:last-child > a > span#post-content {
	font-size: 16px;
	line-height: 15px;
	margin-bottom: 10px;
	color: rgba(0, 0, 0, 0.5);
}
.post > div:last-child > a > div#post-tags {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.post > div:last-child > a > div > button {
	width: fit-content;
	height: 30px;
	background-color: rgba(80, 80, 80, 0.3);
	border-radius: 10px;
	padding: 0 10px 0 10px;
	margin-right: 10px;
}
.tags > a > h1 {
	font-size: 30px;
	line-height: 30px;
	color: black;
	margin-bottom: 40px;
    margin-right: 20px;
}
.post-rating {
	color: black;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {background-color: #ddd}
.show {display:block;}
.content > div:first-child {
	margin-bottom: 5px;
}
.content > div:first-child > button {
	height: 100%;
  	color: white;
	background: black;
	border: 1px solid #747474;
	border-radius: 10px;
	margin-left: 10px;
	padding: 0 10px 0 10px;
	font-size: 20px;
	line-height: 20px;
	padding: 5px 5px;
}
.content > div:first-child > button:hover {
  	color: black;
	background: white;
	transition: 0.5s;
}
.create-form {
	text-align: center;
	display: flex;
	flex-direction: column;
}
.create-input {
	margin-top: 10px;
	border: 1px solid gray;
	border-radius: 10px;
	padding: 5px 5px;
	text-align: center;
}
.create-form > button {
	margin-top: 10px;
	background-color: black;
	color: white;
	padding: 5px 5px;
	border-radius: 10px;
}
textarea {
	resize: none;
}