* {
	font-family:'Courier New', Courier, monospace;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

button {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}
::-webkit-scrollbar {
	width: 0;
}
