.reminder-main-div {
  width: 100%;
	min-height: calc(100vh - 260px);
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.reminder-form {
  height: 100%;
  width: fit-content;
  margin-top: 16%;
  display: flex;
  flex-direction: column;
}
.reminder-form > h1 {
  text-align: center;
  margin-bottom: 10px;
}
.reminder-form > input {
  margin-bottom: 10px;
}
.reminder-input::placeholder {
  text-align: center;
}
.reminder-input {
  height: 50px;
  width: 300px;
  border: 1px solid gray;
  border-radius: 10px;
}
.reminder-button {
  height: 50px;
  width: 300px;
  background-color: black;
  color: white;
  border-radius: 10px;
}
